.button {
  display: inline-block;
  padding: 11px;
  text-align: center;
  font-family: $font-heading;
  color: $color-white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $color-main;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 17px 26px;
  }
}

.button--secondary {
  font-size: 16px;
  line-height: 20px;
  color: $color-twilight-grey;
  background-color: $color-smoky-white;
}
