.button {
  font-family: $font-heading;
  color: $color-white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $color-main;
  border: none;
}

.button--secondary {
  font-size: 16px;
  line-height: 20px;
  color: $color-dark-grey;
  background-color: $color-smoky-white;
}
