.card__link {
  text-decoration: none;
}

.card__heading {
  font-family: $font-heading;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color-black;
  text-transform: uppercase;
}
