.contacts {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.contacts__wrapper {
  width: $content-mobile-width;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 26px 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 171px);
    justify-content: space-between;
    padding: 56px 40px;
  }

  @media (min-width: $desktop-width) {
    gap: 80px;
    position: absolute;
    top: 95px;
    left: 110px;
    margin: 0;
    padding: 56px 80px;
    background-color: $color-white;
  }
}

.contacts__heading {
  margin: 0;
  font-family: $font-heading;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  margin: 0;
  color: $color-twilight-grey;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.contacts__location {
  @media (min-width: $tablet-width) {
    width: 768px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
    width: 1440px;
  }
}
