.contacts {
  // margin-right: -6vw;
  // margin-left: -6vw;

  // @media (min-width: $tablet-width) {
  // margin-right: -9vw;
  // margin-left: -9vw;
  // }

  @media (min-width: $desktop-width) {
    position: relative;
    // margin-right: -7.5vw;
    // margin-left: -7.5vw;
  }

  &:not(.contacts--main) {
    background-color: $color-smoky-white;
  }
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 26px 0;


  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 180px);
    justify-content: space-between;
    padding: 58px 43px 61px 40px;
  }

  @media (min-width: $desktop-width) {
    gap: 70px;
    position: absolute;
    top: 95px;
    left: 110px;
    margin: 0;
    padding: 56px 80px 62px; // было padding-top 56, для form.html исправила на 60px
    background-color: $color-white;
  }
}

.contacts__heading {
  margin: 0;
  font-family: $font-heading;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 2px;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  margin: 0;
  color: $color-twilight-grey;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.contacts__location {
  display: block;
  width: 320px;
  height: 362px;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 400px;
  }
}
