.example {
  background-color: $color-marble;

  @media (min-width: $tablet-width) {
    background-color: $color-white;
    background-image: linear-gradient(to bottom, $color-white 618px, $color-marble 618px);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(to bottom, $color-white 175px, $color-smoky-white 175px);
  }
}

.example__container {
  padding: 25px 0 45px;

  @media (min-width: $tablet-width) {
    padding: 42px 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    background-color: transparent;
    background-image: none;
  }
}

.example__content {
  padding-bottom: 37px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 366px 1fr;
    gap: 33px;
    padding-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 39px;
    display: flex;
    flex-direction: column;
    gap: 55px;
    padding-bottom: 50px;
  }
}

.example__heading {
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 18px;
  color: $color-twilight-grey;
  word-spacing: -0.6px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    letter-spacing: 0.5px;
  }

  @media (min-width: $desktop-width) {
    width: 75%;
    margin-bottom: 0;
    padding-top: 60px;
    padding-bottom: 12px;
  }
}

.example__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin: 0;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    gap: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 62%;
    padding-bottom: 0;
  }
}

.example__item {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 8px;
  padding: 15px 8px 0;
  border: 1px solid $color-pebble;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    row-gap: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 16px;
  }
}

.example__title {
  width: 87px;
  margin-bottom: -15px;
  padding-right: 6px;
  padding-left: 6px;
  text-align: center;
  background-color: $color-marble;

  color: $color-twilight-grey;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;

  @media (min-width: $tablet-width) {
    width: auto;
    margin-bottom: -5px;
    font-size: 14px;
    line-height: 14px;
    background-color: $color-white;
  }

  @media (min-width: $desktop-width) {
    background-color: $color-smoky-white;
  }
}

.example__definition {
  margin: 0;

  font-family: $font-heading;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__spending {
  margin: 0;
  text-align: center;
  font-family: $font-heading;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 180px;
    margin-left: auto;
    padding-top: 7px;
    text-align: end;
    font-size: 20px;
    line-height: 1.5;
  }

  @media (min-width: $desktop-width) {
    width: 62%;
    margin-left: 0;
    padding-top: 0;
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    text-align: center;
    gap: 25px;
  }
}

.example_view {
  text-align: center;
}

