.field {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  font-family: $font-heading;
  font-size: 16px;
  line-height: 18px;
  color: $color-twilight-grey;
  text-transform: uppercase;
}

.field-group + .field-group {
  margin-top: 72px;
}

.field__name {
  margin-right: 13px;
}

.field__input {
  padding: 9px 15px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: $color-twilight-grey;
  text-transform: uppercase;
}
