.logo {
  &:hover {
    opacity: 0.8;
  }

  &:focus-visible {
    outline: 2px solid $color-twilight-grey;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__image {
  width: 34px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 74px;
    height: 60px;
  }
}

.logo__sign {
  width: 101px;
  height: 19px;
  justify-self: center;

  @media (min-width: $desktop-width) {
    width: 124px;
    height: 22px;
  }

  .page-footer__logo & {
    width: 128px;
    height: 24px;
  }
}
