.offer {
  font-size: 16px;
  line-height: 20px;
  color: $color-white;
  background-color: $color-main;
  background-image: url("../../img/background/offer.jpg"); //доделать ретину и изменить картинку, убрать зеленый цвет
  text-align: center;
}
