.page-main__header {
  padding-top: 27px;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .page-main__header {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-main__header {
    margin-bottom: 82px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__header {
    padding-bottom: 82px;
  }
}

.page-main__sections {
  margin-right: 20px;
  margin-left: 20px;
}

@media (min-width: $tablet-width) {
  .page-main__sections {
    margin-right: 30px;
    margin-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__sections {
    margin-right: 110px;
    margin-left: 110px;
  }
}

.page-main__heading {
  margin: 0;
  margin-bottom: 40px;
  font-family: $font-heading;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

@media (min-width: $tablet-width) {
  .page-main__heading {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }
}

.page-main__subheading {
  font-family: $font-heading;
  text-transform: uppercase;
}
