.page-header {
  padding-top: 10px;
  padding-bottom: 12px;

  border-bottom: 1px solid $color-smoky-gray;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
  }
}

.page-header__nav {
  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 18px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    position: relative;
    z-index: 1;
  }
}

.page-header__wrapper {
  @media (max-width: calc($tablet-width - 1px)) {
    display: grid;
    grid-template-columns: 42px 1fr 42px;
    align-items: center;
  }

  @media (min-width: $tablet-width) {
    display: block;
    width: max-content;
  }
}

.page-header__menu {
  margin: 0;
  margin-top: 13px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-right: -18px;
  }

  @media (min-width: $desktop-width) {
    margin-right: -17px;
  }

  .page-header__nav--opened & {
    @media (max-width: calc($tablet-width - 1px)) {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1;
      margin-right: -8%;
      margin-left: -8%;
    }
  }
}

.page-header__logo {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 34px 1fr;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 60px 1fr;
    gap: 12px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 75px 1fr;
    gap: 6px;
  }
}

.page-header__toggler {
  position: relative;
  justify-self: end;
  align-self: stretch;
  grid-column: 3/4;
  width: 42px;
  height: auto;
  margin-right: -9px;
  padding: 0;
  background-color: $color-white;
  border: none;

  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:focus-visible {
    outline: 2px solid $color-twilight-grey;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__nav--nojs .page-header__toggler {
  display: none;
}

.page-header__nav--nojs.page-header__nav--closed .site-menu {
  display: block;
}

.page-header__nav--closed .page-header__toggler {
  &::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 0;
    left: 9px;
    width: 24px;
    height: 1.5px;
    background-color: $color-black;
    box-shadow: 0 8px 0 0 $color-black, 0 16px 0 0 $color-black;
  }
}

.page-header__nav--closed .page-header__menu {
  @media (max-width: calc($tablet-width - 1px)) {
    display: none;
  }
}

.page-header__nav--opened .page-header__toggler {
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 9px;
    width: 24px;
    height: 1.5px;
    background-color: $color-black;
    box-shadow: none;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
