.page-main__header {
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
  }
}

.catalog-list + .page-main__header {
  padding-bottom: 0;
}
