.page-footer {
  padding: 27px 0 18px;
  background-color: $color-smoky-white;

  @media (min-width: $tablet-width) {
    padding: 53px 0;
  }
}

.page-footer__wrapper {
  display: grid;
  grid-template-rows: repeat(3, minmax(63px, max-content));
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: none;
    gap: 30px;
  }
}

.page-footer__logo {
  display: block;
  align-self: flex-start;
  padding-top: 8px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-top: 0;
    align-self: flex-end;
  }
}
