.page-header {
  padding-top: 10px;
  padding-bottom: 12px;

  border-bottom: 1px solid $color-smoky-gray;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
  }

  &:not(.page-header--main) {
    border-color: $color-platinum;
  }
}

.page-header__nav {
  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 18px;
  }
}

.page-header__wrapper {
  @media (max-width: calc($tablet-width - 1px)) {
    display: grid;
    grid-template-columns: 34px 1fr 34px;
    align-items: center;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.page-header__menu {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-right: -18px;
  }

  @media (min-width: $desktop-width) {
    margin-right: -17px;
  }

  .page-header__nav--opened & {
    @media (max-width: calc($tablet-width - 1px)) {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1;
      margin-right: -8%;
      margin-left: -8%;
    }
  }
}

.page-header__logo {
  grid-column: 1 / 3;
}

.page-header__toggler {
  position: relative;
  justify-self: end;
  grid-column: 3/4;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: $color-white;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__nav--nojs .page-header__toggler {
  display: none;
}

.page-header__nav--nojs.page-header__nav--closed .site-menu {
  display: block;
}

.page-header__nav--closed .page-header__toggler {
  &::after {
    content: "";
    position: absolute;
    top: 4.5px;
    right: 0;
    left: 0;
    width: 24px;
    height: 1.5px;
    background-color: $color-black;
    box-shadow: 0 7.5px 0 0 $color-black, 0 15.5px 0 0 $color-black;
  }

  &:hover::after {
    opacity: 0.8;
  }

  &:active::after {
    opacity: 0.6;
  }
}

.page-header__nav--closed .page-header__menu {
  @media (max-width: calc($tablet-width - 1px)) {
    display: none;
  }
}

.page-header__nav--opened .page-header__toggler {
  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 24px;
    height: 1.5px;
    background-color: $color-black;
    box-shadow: none;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    opacity: 0.8;
  }

  &:active::before,
  &:active::after {
    opacity: 0.6;
  }
}

