.promo {
  font-family: $font-heading;
  color: $color-white;
  text-align: center;

  background-color: $color-main;
  background-image: url("../../img/background/promo-small.png"),
    linear-gradient($color-dark-yellow-green 302px, $color-white 302px);
  background-repeat: no-repeat;
  background-position: 50% 0;

  @media (min-width: $tablet-width) {
    position: relative;
    min-height: 860px;

    color: $color-black;
    text-align: left;
    background-color: transparent;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 50% 0;
  }

  @media (min-width: $desktop-width) {
    min-height: 580px;

    &::after {
      position: absolute;
      content: "";
      top: -200px;
      right: 0;
      bottom: 0;
      left: 50%;
      z-index: -1;
      background-color: $color-dark-yellow-green;
      background-position: 0 100%;
      background-repeat: no-repeat;
      background-image: url("../../img/background/promo-big.png");
    }
  }
}

.promo__wrapper {
  padding-top: 27px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-left: 117px;

    text-align: start;
  }

  @media (min-width: $desktop-width) {
    padding-top: 106px;
    padding-left: 190px;
  }
}

.promo__heading {
  margin: 0;
  padding-bottom: 23px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    padding-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
  }
}

.promo__text {
  margin: 0;
  padding-bottom: 27px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.promo__image {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 251px;
    left: 70px;
    width: 709px;
    height: 609px;
    z-index: -1;

    object-fit: contain;
  }

  @media (min-width: $desktop-width) {
    top: 32px;
    left: calc(50% - 162px);
    width: 552px;
    height: 499px;
    z-index: 1;
  }
}

.promo__button {
  width: $content-mobile-width;

  @media (min-width: $tablet-width) {
    margin-left: 3px;
    width: auto;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}
