.promo {
  position: relative;
  font-family: $font-heading;
  color: $color-white;
  text-align: center;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &::before {
    z-index: -1;
    background-image: linear-gradient($color-main 302px, $color-white 302px);
    opacity: 0.85;
  }

  &::after {
    z-index: -2;
    background-image: url("../../img/background/promo-mobile.png"),
      linear-gradient($color-main 302px, $color-white 302px);
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background/promo-mobile@2x.png");
      background-size: 100% auto;
    }
  }

  @media (min-width: $tablet-width) {
    position: relative;
    min-height: 854px;

    color: $color-black;
    text-align: left;
    background-color: transparent;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 50% 0;

    &::before,
    &::after {
      background-image: none;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 562px;

    &::before,
    &::after {
      top: -135px;
      left: 50%;
    }

    &::before {
      background-color: $color-main;
    }

    &::after {
      background-image: url("../../img/background/promo-desktop.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/background/promo-desktop@2x.png");
        background-size: 720px auto;
      }
    }
  }
}

.promo__wrapper {
  padding-top: 27px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-left: 117px;

    text-align: start;
  }

  @media (min-width: $desktop-width) {
    padding-top: 92px;
    padding-left: 190px;
  }
}

.promo__heading {
  margin: 0;
  padding-bottom: 23px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    padding-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
  }
}

.promo__text {
  margin: 0;
  padding-bottom: 27px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.promo__image {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 243px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 709px;
    height: 609px;
    z-index: -1;

    object-fit: contain;
  }

  @media (min-width: $desktop-width) {
    top: 10px;
    left: calc(50% - 162px);
    width: 552px;
    height: 499px;
    z-index: 1;
  }
}

.promo__button {
  width: $content-mobile-width;

  @media (min-width: $tablet-width) {
    margin-left: 3px;
    width: auto;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}
