.site-menu {
  font-family: $font-heading;
  font-size: 20px;
  line-height: 20px;

  text-transform: uppercase;
  list-style: none;
  text-align: center;

  padding: 0;

  background-color: $color-white;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    background-color: transparent;
  }
}

.site-menu__item {
  border-top: 1px solid $color-smoky-gray;

  @media (min-width: $tablet-width) {
    border-top: none;
  }
}

.site-menu__item--current {
  position: relative;

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      right: 17px;
      bottom: 9px;
      left: 17px;
      height: 2px;
      background-color: $color-main;
    }

    @media (min-width: $desktop-width) {
      right: 16px;
      bottom: 13px;
      left: 16px;
    }

    .site-menu--main & {
      @media (min-width: $desktop-width) {
        background-color: $color-white;
      }
    }
  }
}

.site-menu__link {
  display: block;
  color: $color-black;
  text-decoration: none;
  padding-top: 22px;
  padding-bottom: 23px;

  &:link:hover {
    opacity: 0.6;
  }

  &:link:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    border-top: none;
    padding: 18px;
  }

  @media (min-width: $desktop-width) {
    padding: 16px;
  }

  .site-menu--main & {
    @media (min-width: $desktop-width) {
      color: $color-white;
    }
  }
}
