.site-menu {
  font-family: $font-heading;
  font-size: 20px;
  line-height: 20px;

  text-transform: uppercase;
  list-style: none;
  text-align: center;

  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.site-menu__item--current {
  position: relative;

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      left: 36px;
      right: 0;
      height: 2px;
      background-color: $color-main;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      height: 2px;
      background-color: $color-white;
    }
  }
}

.site-menu__link {
  display: block;
  color: $color-black;
  text-decoration: none;
  padding-top: 22px;
  padding-bottom: 23px;
  border-top: 1px solid $color-smoky-gray;

  @media (min-width: $tablet-width) {
    border-top: none;
    padding: 17px 0 8px 36px;
  }

  @media (min-width: $desktop-width) {
    color: $color-white;
    padding-left: 34px;
  }
}

