.slider {
  position: relative;
  display: grid;
  grid-template-columns: 49px 1fr 49px;
  gap: 13px;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 70px 1fr 70px;
  }
}

.slider__button {
  padding: 0;
  font-family: $font-heading;
  font-size: 16px;
  line-height: 20px;
  border: none;
  text-transform: uppercase;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    border-bottom: 1px dotted rgba($color-black, 0.24);
  }
}

.slider__toggler {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14px;
  padding: 4px 5px;

  background-color: $color-white;
  border: 1px solid $color-pebble;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &::after {
    position: absolute;
    content: "";
    width: 36px;
    height: 6px;
    background-color: $color-main;
    border-radius: 6px;
  }

  .slider--before & {
    justify-content: flex-start;
  }

  .slider--after & {
    justify-content: flex-end;
  }
}

.slider__bar {
  appearance: none;
  width: 100%;
  background: transparent;
  cursor: pointer;

  @media (max-width: calc($tablet-width - 1px)) {
    display: none;
  }
}

.slider__bar::-moz-range-thumb { //стилизация ползунка для Firefox
  height: 32px;
  width: 32px;
  box-sizing: border-box;

  border: 12px solid $color-white;
  border-radius: 50%;

  background-color: $color-main;
  box-shadow:
    0 0 0 1px $color-pebble,
    0 1px 3px 0 rgba($color-black, 0.16);

  cursor: pointer;

  &:hover {
    box-shadow:
      0 0 0 1px $color-pebble,
      0 2px 4px 0 rgba($color-black, 0.19);
  }

  &:active {
    box-shadow:
      0 0 0 1px $color-pebble,
      0 3px 5px 0 rgba($color-black, 0.2);
  }
}

.slider__bar::-webkit-slider-thumb { //стилизация ползунка Chrome
  appearance: none;
  height: 32px;
  width: 32px;

  margin-top: -13px;
  padding: 0;
  border: 12px solid $color-white;
  border-radius: 50%;

  background-color: $color-main;
  box-shadow:
    0 0 0 1px $color-pebble,
    0 1px 3px 0 rgba($color-black, 0.16);

  cursor: pointer;

  &:hover {
    box-shadow:
      0 0 0 1px $color-pebble,
      0 2px 4px 0 rgba($color-black, 0.19);
  }

  &:active {
    box-shadow:
      0 0 0 1px $color-pebble,
      0 3px 5px 0 rgba($color-black, 0.2);
  }
}

.slider__bar::-webkit-slider-runnable-track { //Стилизация дорожки Chrome
  height: 6px;
  background-color: $color-pebble;
  border-radius: 3px;
}

.slider__bar::-moz-range-track { //Стилизация дорожки для Firefox
  height: 6px;
  background-color: $color-pebble;
  border-radius: 3px;
}
