.social {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 0;
  padding: 9px 0;

  border-top: 1px solid $color-platinum;
  border-bottom: 1px solid $color-platinum;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.social__link {
  display: block;
  width: 43px;
  height: 43px;
  background-color: #e60606;
}
