.social {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding: 9px 0;

  border-top: 1px solid $color-platinum;
  border-bottom: 1px solid $color-platinum;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.social__link {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;

  color: $color-dark-grey;

  &:hover {
    color: $color-main;
  }

  &:focus-visible {
    outline: 2px solid $color-twilight-grey;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link--vkontakte svg {
  width: 23px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.social__link--instagram svg {
  width: 16px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social__link--facebook svg {
  width: 22px;
  height: 22px;

  @media (min-width: $tablet-width) {
    width: 28px;
    height: 33px;
  }
}
