.view {
  @media (min-width: $tablet-width) {
    padding: 0 58px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.view__images {
  position: relative;
  overflow: hidden;

  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 19px;
  }
}

.view__images img {
  @media (min-width: $tablet-width) {
    width: 591px;
    height: 511px;
    max-width: none;
  }
}

.view__slider {
  padding: 0 35px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.view__image {
  overflow: hidden;
  display: none;

  &--active {
    display: block;
  }

  &--before {
    @media (min-width: $tablet-width) {
      width: 50%;
    }
  }

  @media (min-width: $tablet-width) {
    display: block;
  }

  &--after {
    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      top: 0;
      right: 0;

      width: 50%;
    }
  }
}
