.view__images {
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 50% 1fr;
    margin-bottom: 25px;
    padding: 0 58px;

    overflow: hidden;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 20px;
  }
}

.view__images img {
  @media (min-width: $tablet-width) {
    width: 591px;
    height: 511px;
    max-width: none;
  }
}

.view__slider {
  padding: 0 35px;

  @media (min-width: $tablet-width) {
    padding: 0 58px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.view__image {
  display: none;

  @media (min-width: $tablet-width) {
    overflow: hidden;
  }

  &--after {
    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: flex-end;
    }
  }

  &--active {
    display: block;
  }
}
