$font-heading: "Oswald", "Arial", sans-serif;
$font-body: "Arial", sans-serif;

$color-main:  #68b738;
$color-dark-yellow-green: #63a63b;
$color-herbal: #68b738;

$color-white: #ffffff;
$color-smoky-white: #f2f2f2;
$color-marble: #eaeaea;
$color-smoky-gray: #e6e6e6;

$color-black: #000000;
$color-gagat: #111111;
$color-silver: #222222;
$color-twilight-grey: #444444;
$color-platinum: #d9d9d9;
$color-pebble: #cdcdcd;
$color-gainsborough: #dcdcdc;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;

$content-mobile-width: 87.5%;
$content-tablet-width: 92.3%;
$content-desktop-width: 84.72%;
